html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  background-color: #f2f1ed;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

header {
  /* Remove the <header> box and allow us to directly apply header’s children to the grid. */
  display: contents;
  margin: 0;
}

body {
  margin: 0;
  padding: 1rem;
  display: grid;
  grid-template-areas:
    "header header"
    "main main";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1.32fr 1fr;
}

header img {
  position: relative;
}

.banner {
  display: grid;
  grid-area: header;
}

.pano {
  grid-column: 1/-1;
  grid-row: 1/-1;
}

h1 {
  grid-column: 1;
  grid-row: 1;
  z-index: 1;
  width: 14rem;
  position: absolute;
  left: 5%;
  bottom: 25%;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
  padding: 1rem;
}

a {
  font-size: 2rem;
  font-family: "Patua One", sans-serif;
  color: #fff;
}

header nav {
  grid-column: 2;
  grid-row: 1;
  z-index: 1;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0;
}

figure {
  margin: 0;
}

h2 {
  font-family: "Patua One", sans-serif;
  color: #30658d;
  margin: 1rem 0 0;
}

p {
  margin: 0;
}
